.task_item {
    width:220px;
    margin: 15px;
    padding: 13px 11px 15px;
    color: #61dafb;
    background-color: #ffffff;
    box-shadow: 0 3px 18px rgba(0,0,0,0.3);
    border-radius: 6px;

}

.logo {
    width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 15s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}