.App {
  margin-bottom: 170px;
}

.App-header {
  margin: 15px;
}

.App-link {
  color: #61dafb;
}

.app-content-wrapper {
  padding-top: 50px;
}

.react_txt {
  padding-top: 80px;
  justify-content: center;
  display: flex;
  color:#00daff;
  font-size: 25px;
  white-space: pre;
  font-weight: bold;
  letter-spacing:1.5px;
  word-break: break-all;
}

.banner {
  height: 140px;
  background-color: #282c34;
}

.form-control:focus {
  border: 1.5px solid #8c8f90;
  box-shadow: 0 0 2px 1px #8c8f90;
}

.Toastify__toast--success {
  background: #29ccbe;
}

.Toastify__toast--error {
  background: #dc3545;
}

